{% extends "layout.html" %}

{% block title %}
    Blog
{% endblock %}

{% block main %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to Sri Aurobindo International Center of Education</h2>
                <p>Sri Aurobindo International Centre of Education, an integral part of Sri Aurobindo Ashram, serves as a field for experiment and research in education.
                    For years Sri Aurobindo considered the formation of a new system of education as one of the best means of preparing the future humanity to manifest upon earth a divine consciousness and a divine life.
                    To give a concrete shape to his vision, the Mother opened a school for children on December 2, 1943. Since then, the school has continued to grow and experiment with various educational problems and issues.
                    In 1951, a Convention was held at Pondicherry which resolved to establish an International University Centre in the town as a fitting memorial to Sri Aurobindo.
                    Accordingly, the Sri Aurobindo International University Centre was inaugurated by the Mother on January 6, 1952. In 1959, the Mother decided to rename it the Sri Aurobindo International Centre of Education.
                </p>
               </div>
            <div class="col-md-6">
                <a href="#">
                    <img src="https://images.unsplash.com/photo-1580582932707-520aed937b7b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dwidth=1200&height=900" class="img-fluid" alt="Clickable Image 1">
                </a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <a href="/live_chat">
                    <img src="https://media.istockphoto.com/id/513300668/photo/live-chat.webp?b=1&s=170667a&w=0&k=20&c=QN2wIMpcRbFD21AVRayRwdD2rB69QHoUMoqE_nkrvOI=" class="img-fluid" alt="Clickable Image 2">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Live Chat</h3>
                <p>Connect with all members in real-time through our live chat feature. If any issues let me Know.</p>
            <!-- Add your live chat component here -->
                <div>
                    <p>Live chat is available 24/7</p>
                <!-- Your live chat code goes here -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
