{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<form action="/register" method="post">
  <img
    class="mb-4"
    src="https://st2.depositphotos.com/22052918/47547/v/450/depositphotos_475477098-stock-illustration-letter-simple-geometric-linear-logo.jpg"
    alt="Logo"
    width="85"
    height="70"
  />
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="confirmation"
      placeholder="Password (again)"
      type="password"
    />
  </div>
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="email"
      placeholder="Email_Id"
      type="email"
    />
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
