{% extends "layout.html" %} {% block title %} Attendance Record {% endblock %}
{% block main %}

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-12">
      <h3>Attendance Table</h3>
      <div class="card">
        <div class="card-header text-center">
          Weekly Attendance - {{ month }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <!-- Table Headers -->
                  <thead>
                    <tr>
                      <th></th>
                      {% for date in dates %}
                      <th class="text-center">{{ date }}</th>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Name</th>
                      <th class="text-center">Mon</th>
                      <th class="text-center">Tue</th>
                      <th class="text-center">Wed</th>
                      <th class="text-center">Thu</th>
                      <th class="text-center">Fri</th>
                      <th class="text-center">Sat</th>
                      <th class="text-center">Sun</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for name in names %}
                    <tr>
                      <td>{{ name.name }}</td>
                      {% for day in ['Monday', 'Tuesday', 'Wednesday',
                      'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                      <td>
                        {% if attendance_data[name.name][loop.index0] %}
                        <input
                          type="checkbox"
                          name="{{ name.name }}_{{ day }}"
                          onclick="toggleDate(this, '{{ day }}', '{{ name.name }}', '{{ dates[loop.index0] }}', '{{ month }}')"
                        />
                        {% else %}
                        <input
                          type="checkbox"
                          checked="checked"
                          name="{{ name.name }}_{{ day }}"
                          onclick="toggleDate(this, '{{ day }}', '{{ name.name }}', '{{ dates[loop.index0] }}', '{{ month }}')"
                        />
                        {% endif %}
                      </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Buttons Row -->
          <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-center text-center">
              <button
                class="btn btn-primary mx-2"
                type="button"
                onclick="handlePrevious()"
              >
                Previous
              </button>
              <button
                class="btn btn-primary mx-2"
                type="button"
                onclick="handleNext()"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../static/week.js"></script>

{% endblock %}
